::selection {
  background-color: rgb(231, 75, 75);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Anton', sans-serif;
  color: #191a1b;
  font-size: 13px;
}


img.me {
  position: absolute;
  bottom: 20px;
  right: 0;
  max-width: 72px;
  height: auto;
}

.intro {
  font-weight: 700;
  font-size: calc(48px + 2vmin);
  line-height: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px 40px;
  color: #292f29;
}

.intro div {
  padding: 2px;
}

div.me {
  padding: 20px;
  font-family: 'Courier Prime', monospace;
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
}

div.me strong {
  font-size: 18px;
  text-shadow:
    1px 0px 1px #ccc, 0px 1px 1px #eee,
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
}
